{% extends 'base.html' %}

{% block content %}
<h2>Lista de Carriles</h2>

<a href="{% url 'asignaciones:carril_crear' %}">Nuevo Carril</a>

<table border="1">
    <tr>
        <th>Número</th>
        <th>Acciones</th>
    </tr>

    {% for c in carriles %}
    <tr>
        <td>{{ c.numero }}</td>
        <td>
            <a href="{% url 'asignaciones:carril_editar' c.id %}">Editar</a>
            <a href="{% url 'asignaciones:carril_eliminar' c.id %}">Eliminar</a>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}