{% extends 'base.html' %}

{% block content %}

<div class="card">

<h2>Cuadrícula de Horarios</h2>

<div class="table-container">

<table>
    <tr>
        <th>Carril</th>
        <th>Horario</th>
        <th>Maestro</th>
        <th>Nivel</th>
    </tr>

    {% for h in horarios %}
    <tr>
        <td>{{ h.carril }}</td>
        <td>{{ h.hora_inicio }} - {{ h.hora_fin }}</td>
        <td>{{ h.maestro }}</td>
        <td>{{ h.nivel }}</td>
    </tr>
    {% endfor %}

</table>

</div>

</div>

{% endblock %}