{% extends 'base.html' %}

{% block content %}

<div class="card">

<h2>Horarios de Carril</h2>

<a class="btn" href="{% url 'asignaciones:horario_crear' %}">Nuevo Horario</a>

<br><br>

<div class="table-container">

<table>
    <tr>
        <th>Carril</th>
        <th>Maestro</th>
        <th>Nivel</th>
        <th>Horario</th>
        <th>Capacidad</th>
        <th>Acciones</th>
    </tr>

    {% for h in horarios %}
    <tr>
        <td>{{ h.carril }}</td>
        <td>{{ h.maestro }}</td>
        <td>{{ h.nivel }}</td>
        <td>{{ h.hora_inicio }} - {{ h.hora_fin }}</td>
        <td>{{ h.capacidad_maxima }}</td>
        <td>
            <a class="btn" href="{% url 'asignaciones:horario_editar' h.id %}">Editar</a>
            <a class="btn" href="{% url 'asignaciones:horario_eliminar' h.id %}">Eliminar</a>
            <a class="btn" href="{% url 'asignaciones:grupo_detalle' h.id %}">Ver grupo</a>
        </td>
    </tr>
    {% endfor %}
</table>

</div>

</div>

{% endblock %}