{% extends 'base.html' %}

{% block content %}
<h2>{% if horario %}Editar{% else %}Nuevo{% endif %} Horario</h2>

<form method="post">
    {% csrf_token %}

    <label>Carril:</label>
    <select name="carril" required>
        {% for c in carriles %}
            <option value="{{ c.id }}"
                {% if horario and horario.carril.id == c.id %}selected{% endif %}>
                Carril {{ c.numero }}
            </option>
        {% endfor %}
    </select>

    <a href="{% url 'asignaciones:carril_crear' %}">Agregar Carril</a>

    <br><br>

    <label>Nivel:</label>
    <select name="nivel" required>
        {% for n in niveles %}
            <option value="{{ n.id }}"
                {% if horario and horario.nivel.id == n.id %}selected{% endif %}>
                {{ n.nombre }}
            </option>
        {% endfor %}
    </select>

    <a href="{% url 'asignaciones:nivel_crear' %}">Agregar Nivel</a>

    <br><br>

    <label>Maestro:</label>
    <select name="maestro" required>
        {% for m in maestros %}
            <option value="{{ m.id }}"
                {% if horario and horario.maestro.id == m.id %}selected{% endif %}>
                {% if m.first_name %}
                    {{ m.first_name }} {{ m.last_name }}
                {% else %}
                    {{ m.email }}
                {% endif %}
            </option>
        {% endfor %}
    </select>

    <br><br>

  <label>Días:</label>
<select name="dias" required>
    <option value="">Selecciona</option>

    <option value="L-V"
        {% if horario and horario.dias == "L-V" %}selected{% endif %}>
        Lunes a Viernes
    </option>

    <option value="L-M-V"
        {% if horario and horario.dias == "L-M-V" %}selected{% endif %}>
        Lunes, Miércoles y Viernes
    </option>

    <option value="M-J"
        {% if horario and horario.dias == "M-J" %}selected{% endif %}>
        Martes y Jueves
    </option>

    <option value="SAB"
        {% if horario and horario.dias == "SAB" %}selected{% endif %}>
        Sábado
    </option>

</select>
 <br><br>

    <label>Hora Inicio:</label>
    <input type="time" name="hora_inicio"
           value="{{ horario.hora_inicio|default:'' }}" required>

    <br><br>

    <label>Hora Fin:</label>
    <input type="time" name="hora_fin"
           value="{{ horario.hora_fin|default:'' }}" required>

    <br><br>

    <label>Capacidad:</label>
    <input type="number" name="capacidad"
           value="{{ horario.capacidad_maxima|default:'' }}" required>

    <br><br>

    <button type="submit">Guardar</button>
</form>

{% endblock %}