<h2>Inscripciones</h2>

<a href="{% url 'asignaciones:inscripcion_crear' %}">Nueva inscripción</a>

<table border="1">
    <tr>
        <th>Nadador</th>
        <th>Carril</th>
        <th>Horario</th>
        <th>Activo</th>
        <th>Acciones</th>
    </tr>

    {% for i in inscripciones %}
    <tr>
        <td>{{ i.nadador }}</td>
        <td>{{ i.horario_carril.carril }}</td>
        <td>{{ i.horario_carril.hora_inicio }} - {{ i.horario_carril.hora_fin }}</td>
        <td>{{ i.activo }}</td>
        <td>
            {% if i.activo %}
                <a href="{% url 'asignaciones:inscripcion_baja' i.id %}">Dar de baja</a>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>