<h2>Escanear credencial</h2>

<form method="POST">
    {% csrf_token %}

    <input type="text" name="codigo" autofocus placeholder="Escanea código">
    <button type="submit">Buscar</button>

</form>

{% if mensaje %}
<p style="color:red;">{{ mensaje }}</p>
{% endif %}

{% if nadador %}

<h3>Nadador encontrado</h3>

<p>{{ nadador.nombre }} {{ nadador.apellido_paterno }}</p>

<a href="{% url 'crear_certificado' nadador.id %}">
    Realizar examen médico
</a>

<a href="{% url 'historial_medico' nadador.id %}">
    Ver historial
</a>

{% endif %}