{% extends 'base.html' %}

{% block content %}

<h2>Detalle de Evaluación</h2>

<p><strong>Nadador:</strong> {{ evaluacion.nadador }}</p>
<p><strong>Grupo:</strong> {{ evaluacion.horario_carril }}</p>

<p>Respiración: {{ evaluacion.respiracion }}</p>
<p>Libre: {{ evaluacion.libre }}</p>
<p>Espalda: {{ evaluacion.espalda }}</p>
<p>Mariposa: {{ evaluacion.mariposa }}</p>
<p>Resistencia: {{ evaluacion.resistencia }}</p>

<p><strong>Promedio:</strong> {{ evaluacion.promedio }}</p>

<p><strong>Observaciones:</strong> {{ evaluacion.observaciones }}</p>

{% endblock %}