{% extends 'base.html' %}

{% block content %}

<style>
.table-box {
    background: white;
    padding: 15px;
    border-radius: 12px;
    overflow-x: auto;
}
</style>

<h2>Mis Evaluaciones</h2>

<div class="table-box">
<table>
<tr>
    <th>Nadador</th>
    <th>Grupo</th>
    <th>Promedio</th>
    <th>Fecha</th>
    <th>Acción</th>
</tr>

{% for e in evaluaciones %}
<tr>
    <td>{{ e.nadador }}</td>
    <td>{{ e.horario_carril }}</td>
    <td>{{ e.promedio }}</td>
    <td>{{ e.fecha }}</td>
    <td>
        <a href="{% url 'evaluaciones:detalle' e.id %}">Ver</a>
    </td>
</tr>
{% endfor %}
</table>
</div>

{% endblock %}