{% extends 'base.html' %}
{% block content %}

<h2>Planes de curso</h2>

<a href="{% url 'usuarios:plan_crear' %}">➕ Nuevo plan</a>

<table border="1">
<tr>
    <th>Nombre</th>
    <th>Sede</th>
    <th>Categoría</th>
    <th>Tipo</th>
    <th>Precio</th>
    <th>Acciones</th>
</tr>

{% for p in planes %}
<tr>
    <td>{{ p.nombre }}</td>
    <td>{{ p.sede }}</td>
    <td>{{ p.categoria }}</td>
    <td>{{ p.tipo_curso }}</td>
    <td>{{ p.precio }}</td>
    <td>
        <a href="{% url 'usuarios:plan_editar' p.id %}">✏️</a>
        <a href="{% url 'usuarios:plan_eliminar' p.id %}">🗑</a>
    </td>
</tr>
{% endfor %}

</table>

{% endblock %}