{% extends 'base.html' %}
{% block content %}

<style>
.card {
    background: white;
    padding: 25px;
    border-radius: 12px;
    max-width: 600px;
    margin: auto;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

input, select {
    width: 100%;
    padding: 10px;
    margin: 8px 0 15px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

button {
    background: #1565c0;
    color: white;
    padding: 12px;
    border: none;
    width: 100%;
    border-radius: 6px;
    cursor: pointer;
}
</style>

<h2>Usuario</h2>

<div class="card">

<form method="POST">
{% csrf_token %}

<input type="text" name="nombre" placeholder="Nombre" value="{{ usuario.first_name }}">
<input type="text" name="apellido_paterno" placeholder="Apellido paterno" value="{{ usuario.last_name }}">
<input type="text" name="apellido_materno" placeholder="Apellido materno" value="{{ usuario.apellido_materno }}">

<input type="email" name="email" placeholder="Correo" value="{{ usuario.email }}">

<input type="password" name="password" placeholder="Contraseña">

<select name="rol">
    {% for r in roles %}
        <option value="{{ r.id }}" {% if usuario.rol.id == r.id %}selected{% endif %}>
            {{ r.nombre }}
        </option>
    {% endfor %}
</select>

<select name="estado">
    <option value="activo">Activo</option>
    <option value="inactivo">Inactivo</option>
</select>

<button type="submit">Guardar</button>

</form>

</div>

{% endblock %}